.gradient {
  background-image: linear-gradient(to bottom, #303030, #B8B8B8);
}
.blur-me {
  -webkit-filter: blur(5px);
  filter: blur(1rem);
}
.italic {
  font-style: italic;
  font-size: 17.5px;
}
.huntOverlay {
  background: rgba(39,62,84,0.82);
  opacity: 0.9;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.nichtsOverlay {
  background: rgba(20, 97, 110, 0.82);
  opacity: 0.9;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.vvOverlay {
  background: rgba(78, 82, 49, 0.74);
  opacity: 0.9;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.fourthOverlay {
  background: rgba(41, 69, 95, 0.90);
  opacity: 0.9;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.fullmoonOverlay {
  background: rgba(78, 83, 88, 0.9);
  opacity: 0.9;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.lwOverlay {
  background: rgba(75, 62, 90, 0.5);
  opacity: 0.9;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.img-fluid {
  width: auto;
  max-height: 330px;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 95%);
  mask-image: linear-gradient(to top, transparent 5%, black 95%);
  filter: saturate(120%)
}
.carousel-caption{
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
}
.rightie{
  text-align: left;
}
@media(min-width: 1201px) {
  .outerdiv { 
    position:relative; 
  }
  .innerdiv { 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .left-col {
    width: 50%;
    order: 1;
    margin: 0px;
  }

  .right-col {
    width: 50%;
    order: 2;
    margin: 0px;
  }
  .normal-left-col {
    width: 50%;
    order: 1;
    margin: 0px;
  }

  .normal-right-col {
    width: 50%;
    order: 2;
    margin: 0px;
  }
  .responsive {
    width: 540px;
  }
  .movieDesc{
    font-size: 17.5px;
  }
  .buttonDesc{
    font-size: 15.5px;
  }
  .lwbuttonDesc{
    font-size: 15.5px;
  }
  .playButtonSizing{
    max-height: 22px;
  }
  .slideHeight{
    height: 400px;
  }
  .vid-fluid {
    width: auto;
    max-height: 400px;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 95%);
    mask-image: linear-gradient(to top, transparent 5%, black 95%);
    filter: saturate(120%)
  }
  
}
@media(max-width: 1200px) {
  .left-col {
    width: 100%;
    order: 2;
    padding: 10px;
  }
  .right-col {
    width: 100%;
    order: 1;
    padding: 10px;
  }
  .normal-left-col {
    width: 100%;
    order: 1;
    padding: 10px;
  }

  .normal-right-col {
    width: 100%;
    order: 2;
    padding: 10px;
  }
  .responsive {
    max-width: 100%;
    height: auto;
    padding: 13px;
  }
  .movieDesc{
    font-size: 17.5px;
  }
  .buttonDesc{
    font-size: 15.5px;
  }
  .lwbuttonDesc{
    font-size: 12px;
  }
  .playButtonSizing{
    max-height: 22px;
  }
  .slideHeight{
    height: 400px;
  }
  .vid-fluid {
    width: auto;
    max-height: 250px;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 95%);
    mask-image: linear-gradient(to top, transparent 5%, black 95%);
    filter: saturate(120%)
  }
}
@media(max-width: 767px) {
  .movieTitle{
    font-size: 20px;
  }
  .movieDesc{
    font-size: 12px;
  }
  .buttonDesc{
    font-size: 12px;
  }
  .lwbuttonDesc{
    font-size: 12px;
  }
  .playButtonSizing{
    max-height: 18px;
  }
  .vid-fluid {
    width: auto;
    max-height: 200px;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 95%);
    mask-image: linear-gradient(to top, transparent 5%, black 95%);
    filter: saturate(120%)
  }
}
@media(max-width: 444px) {
  .movieTitle{
    font-size: 18px;
  }
  .movieDesc{
    font-size: 10px;
  }
  .buttonDesc{
    font-size: 10px;
  }
  .lwbuttonDesc{
    font-size: 10px;
  }
  .playButtonSizing{
    max-height: 16px;
  }
}
@media(max-width: 444px) {
  .slideHeight{
    height: 500px;
  }
}

