.gradient {
  background-image: linear-gradient(to bottom, #303030, #B8B8B8);
}
.blur-me {
  -webkit-filter: blur(5px);
  filter: blur(1rem);
}

@media(min-width: 1201px) {
  .outerdiv { 
    position:relative; 
  }
  .innerdiv { 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .left-col {
    width: 50%;
    order: 1;
    margin: 0px;
  }

  .right-col {
    width: 50%;
    order: 2;
    margin: 0px;
  }
  .normal-left-col {
    width: 50%;
    order: 1;
    margin: 0px;
  }

  .normal-right-col {
    width: 50%;
    order: 2;
    margin: 0px;
  }
  .responsive {
    width: 540px;
  }
  
}

@media(max-width: 1200px) {
  .left-col {
    width: 100%;
    order: 2;
    padding: 10px;
  }
  .right-col {
    width: 100%;
    order: 1;
    padding: 10px;
  }
  .normal-left-col {
    width: 100%;
    order: 1;
    padding: 10px;
  }

  .normal-right-col {
    width: 100%;
    order: 2;
    padding: 10px;
  }
  .responsive {
    max-width: 100%;
    height: auto;
    padding: 13px;
  }
}

